{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>




    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; padding-left: 180px; padding-top:170px; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="example-wrapper">

    <body style="background-color:powderblue;">
    <h1> Hallo! </h1>
    <h2> Op zoek naar optredens? ✅</h2>

   <h2>Op onze site kunt u toekomstige optredens bekijken!</h2>
</div>

{% endblock %}
