{% extends 'base.html.twig' %}

{% block title %}Our Contact Form{% endblock title %}

{% block body %}

    <div id =  "woeshoem">

        <body style="background-color:powderblue;">

        <h1>Contactformulier</h1>
        {{ form_start(our_form) }}
        {{ form_widget(our_form) }}
        <form action="mailto:rahin_@hotmail.com" method="post" enctype="text/plain"><input type="submit" value="Verzend"></form>
        <button onclick="location.href='rahin_@hotmail.com';">Verzenden als email</button>



    </div>

{% endblock %}